
<app-cabeza>
    <app-ojos></app-ojos>
    <app-cuernos></app-cuernos>
</app-cabeza>
<app-cuello>
    <app-flexibilidad></app-flexibilidad>
    <app-fortaleza></app-fortaleza>
</app-cuello>
<app-alas>
    <app-membranas-alares></app-membranas-alares>
    <app-amplia-envergadura></app-amplia-envergadura>
</app-alas>
<app-cuerpo>
    <app-grande></app-grande>
    <app-escamas-protectoras></app-escamas-protectoras>
</app-cuerpo>
<app-patastraseras>
    <app-musculatura></app-musculatura>
    <app-garras></app-garras>
</app-patastraseras>
<app-cola>
    <app-espinas></app-espinas>
    <app-equilibrio></app-equilibrio>
</app-cola>